header {
    background: no-repeat center center;
    background-size: cover;
    color: black;
    min-height: 100vh;
}

.color-overlay {
    max-width: 750px;
    background-color: rgba(0,100,0,.8);
}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 30vh;
    }
}
